@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800;900&display=swap");

/* shared style */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.primary-btn {
  border-radius: 8px;
  color: #fff;
  font-size: 1.25rem;
  background: #ff900e;
  padding: 20px 25px;
  color: #fff;
  cursor: pointer;
  border: 0;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}

.gray-color {
  color: #727272;
}

.combined-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}

/* header related style  */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}
nav li {
  margin-right: 30px;
  list-style: none;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  color: #424242;
  text-decoration: none;
  font-size: 1.3rem;
}

/* banner related style  */
.banner {
  margin-top: 50px;
}
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner-description {
  font-weight: 400;
  margin: 30px 0;
}
.banner img {
  margin-top: 50px;
  width: 100%;
}

/* main related styles */
main {
  max-width: 1440px;
  margin: 70px auto;
}
/* team section */
.team-container {
  max-width: 1440px;
  display: flex;
  gap: 70px;
  align-items: center;
  text-align: center;
}

.team-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.team-content {
  max-width: 600px;
  text-align: left;
}
.team-description {
  margin: 25px 0 50px 0;
}
.team-features {
  color: #ff900e;
}

/* features section styles */
.features {
  margin-top: 130px;
  display: flex;
  gap: 140px;
}
.left-border {
  border-left: 5px solid #ff900e;
  padding-left: 25px;
  margin-bottom: 25px;
}

.features-content {
  width: 450px;
}
.features-content-description {
  margin-bottom: 10px;
}

.item {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  padding: 20px;
}

.item-title {
  color: #131313;
  font-weight: 600;
  margin-bottom: 10px;
}
.features-img img {
  margin-left: 50px;
}
.ten-year {
  position: relative;
  bottom: 130px;
  right: 100px;
  border-radius: 8px;
  background: #ff900e;
  width: 270px;
  text-align: center;
  padding: 45px 40px;
}
.ten-year h2 {
  color: #fff;
}
.ten-year p {
  font-size: 1.5rem;
  color: #fff;
}

/* cards related style */
.card-section > p {
  width: 600px;
  margin-top: 20px;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.card {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 50px 20px 0 20px;
}

.card-state {
  font-size: 2.8rem;
  color: #424242;
  font-weight: 600;
}

.card-title {
  color: #727272;
  font-size: 20px;
  font-weight: 600;
}

/* sponsors styles */

.sponsors {
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
}

.sponsors > p {
  width: 550px;
  margin: 10px auto;
}

.sponsors-img {
  display: flex;
  justify-content: space-around;
}

/* footer styles */

footer {
  width: 1200px;
  height: 60px;
  border-radius: 8px;
  background: #fff4e7;
  margin: 100px auto;
}

footer>h4{
  text-align: center;
  padding-top: 20px;
}

/* responsive related style  */
/* mobile  */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .team-container,
  .features,
  .cards-container,
  .sponsors-img {
    flex-direction: column;
  }
  .primary-btn {
    font-size: 1rem;
    padding: 18px 22px;
  }
  nav {
    gap: 20px;
  }
  nav ul{
    padding-left: 20px;
  }
  nav li a{
    font-size: 1rem;
  }
  .section-title {
    font-size: 1.8rem;
  }
  .combined-title{
    font-size: 2.8rem;
  }
  .features-content {
    width: 330px;
    padding-left: 20px;
  }
  .team-img {
    grid-template-columns: 1fr;
  }
  .team-content {
    padding: 0 20px;
  }
  .features {
    gap: 0px;
    margin-top: 50px;
  }
  .features-img img {
    width: 95%;
    margin-left: 10px;
  }

  .cards-container {
    margin-top: 20px;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
  }
  .card-section > p {
    width: 350px;
    margin-left: 10px;
  }
  .card-section > h1 {
    margin-left: 10px;
  }
  .sponsors-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .sponsors-img > img {
    width: 60%;
    margin: 10px auto;
  }
  .sponsors > p {
    width: 350px;
    margin: 5px auto;
  }
  .sponsors {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  footer {
    width: 90%;
    height: 80px;
    margin: 0 auto 50px auto;
  }
  footer h4{
    font-size: 0.9rem;
  }
  .ten-year {
    width: 270px;
    padding: 25px 20px;
    position: static;
    margin-left: 30px;
    margin-bottom: 30px;
    margin: -4px 0 30px 30px;
    z-index: 999;
  }
  .ten-year h2 {
    font-size: 2rem;
  }
  .ten-year p {
    font-size: 1rem;
  }
}

/* medium device  */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav,
  .team-container,
  .features,
  .cards-container {
    flex-direction: column;
  }
  
  nav {
    gap: 20px;
  }
  .team-img {
    gap: 20px;
    padding-left: 25px;
  }
  .team-img>img{
    max-width: 90%;
  }
  .features-img img {
    width: 95%;
    margin-left: 15px;
  }
  .ten-year {
    position: static;
    margin: 5px auto;
  }
  .features {
    gap: 10px;
    align-items: center;
  }
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    gap: 50px;
    align-items: center;
    margin-left: 20px;
  }
  .card-section > p {
    margin-left: 20px;
  }
  .card-section > h1 {
    margin-left: 20px;
    margin-top: 30px;
  }
  .sponsors-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 40px;
  }
  .sponsors {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  footer {
    width: 98%;
    margin: 80px auto;
  }
}
